name = "dcvaas-api"
main = "src/index.ts"
compatibility_date = "2025-12-03"

[[routes]]
pattern = "dcv.pcnaid.com/api/*"
zone_name = "pcnaid.com"

[[routes]]
pattern = "dcv.pcnaid.com/health"
zone_name = "pcnaid.com"

[vars]
# Your SaaS Fallback origin (e.g., proxy.dcvaas.com)
SAAS_CNAME_TARGET = "dcv.pcnaid.com"
CLOUDFLARE_ZONE_ID = "466bdf66d7498a2167140d334df52787"

# Comma-separated list for CORS
CORS_ALLOW_ORIGINS = "http://localhost:5000,https://dcv.pcnaid.com,https://cert.pcnaid.com,https://autocertify.net,https://www.autocertify.net,https://delegatedssl.com,https://www.delegatedssl.com,https://keylessssl.dev,https://www.keylessssl.dev"

[[d1_databases]]
binding = "DB"
database_name = "dcvaas-db"
database_id = "e9089f74-a448-48c6-994b-04eb0c2fc1df"

[[queues.producers]]
binding = "QUEUE"
queue = "dcvaas-jobs"
